<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>500 Page Error</title>
</head>
<body style="color: #444;margin: 0;font:normal 14px/20px Arial, Helvetica, sans-serif; height: 100%; background-color: #fff;">
<div style="height:auto;min-height:100%;">
    <div style="text-align:center;width:800px;margin-left:-400px;position:absolute;top:30%;left:50%;">
        <h1 style="margin:0;font-size:150px;line-height:150px;font-weight:bold;">500</h1>
        <h2 style="color:#444;margin-top:20px;font-size:30px;">OOOPS!!!
        </h2>
        <p>SOMETHING WENT WRONG</p>
        <div class="button">
            <h2>
                <a th:href="@{/main.html}" title="返回主页" target=”_blank" style=color:#444;">返回主页</a>
            </h2>
        </div>
    </div>
</div>
</body>
</html>