<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>form_layouts</title>
</head>
<body>
<h1>进入 form_layouts.html！！！</h1>

<form class="file_upload" th:action="@{/upload}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>名称</label>
        <input type="text" name="username" id="username">
    </div>
    <div class="form-group">
        <label>邮箱</label>
        <input type="text" name="email" id="email">
    </div>
    <div class="form-group">
        <label>头像</label>
        <input type="file" name="headerImg" id="inputFile">
    </div>
    <div class="form-group">
        <label>生活照</label>
        <input type="file" name="photos" multiple>
    </div>
    <button type="submit">提交</button>
</form>
</body>
</html>