<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>

    <!-- include 不保留大标签 <head></head> -->
    <link th:include="common :: commonheader">
    <div th:include="common :: commonheader"></div>
    <!-- replace 保留大标签 <head></head> -->
<!--    <link th:replace="common :: commonheader">-->
</head>
<body>
<h1>登录成功！！！</h1>
<a href="http://www.baidu.com">[[${session.loginUser.username}]]</a>
<br>
<video width="600" height="400" controls autoplay>
    <source src="movie.mp4"></source>
</video>
<br>
<img src="dailybug.png">
</body>
</html>